<head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
</head>

<body>
<h1>
Ciao CARLA berretta goutagneux</h1>
Ti voglio bene
<ul>
<li class="viola">CARLA berretta goutagneux</li>
<li class="giallo">laura berretta</li>
<li class="giallo">vincent goutagneux</li>
<li class="blue">ivy berretta goutagneux</li>
</ul>

buon natale

<button>Click me</button>

</body>
